@charset "UTF-8";

h1{
	color:navy;
	border-style:solid;
	border-color:red;
	border-width:0 0 0 5px;
	background-color:mediumaquamarine;
	margin: 5px;
	padding: 5px;
}
h2{
	color:navy;
	border-style:solid;
	border-color:red;
	border-width:0 0 0 3px;
	background-color:mediumaquamarine;
	margin: 5px;
	padding: 5px;
}
p{
	margin: 20px 40px;
}
table{
	border-collapse:collapse;
	width: 90%;margin: auto;
}
table td{
	border:solid 3px #113366;
	border-color:black;
}